.header {
    background-color: #44bd32;
    /* padding: 10px; */
    padding-top: 30px;
    clear: both;
}

.header .top {
    height: 150px;
}


.header .logo {
    width: 150px;

}

@import url('https://fonts.googleapis.com/css?family=Gugi');
.header .title {
    text-align: left;
    font-size: 50px;
    font-family: Gugi;
    color: #dcdde1;
}

.header .date{
    text-align: right;
    color: #dcdde1;
    font-size: 30px;
    font-family: Gugi;
}


.header .menu {
    background-color: #4cd137;
    height: 50px;
    line-height: 50px;
}
.header .menu div{
    transition-duration: 700ms;
}

.header .menu div:hover{
    background-color: #77df54;
    transition-duration: 700ms;
    cursor: pointer;
}

.header .menu {
    color: #353b48;
    font-family: Gugi;
}